asteval==0.9.26
autograd==1.4
certifi==2021.10.8
cma==2.7.0
cycler==0.11.0
func-timeout==4.3.5
future==0.18.2
geneticalgorithm==1.0.2
kiwisolver==1.3.1
lmfit==1.0.3
matplotlib==3.3.4
numpy==1.21.2
Pillow==8.4.0
pymoo==0.5.0
pyparsing==3.0.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyswarm==0.6
python-dateutil==2.8.2
pytz==2021.3
scipy==1.8.0
six==1.16.0
sklearn==0.0
tqdm==4.64.0
uncertainties==3.1.6
